<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<i class="fa fa-chevron-up" *ngIf="sortDirection === 'asc'" ></i>
<i class="fa fa-chevron-down" *ngIf="sortDirection === 'desc'"></i>

<div class = "container" [hidden]="!loading">
  <img class = "loading" heigth= '100' width = '100' src='../../assets/loading.gif'>
  <p class="loadingtext" style="color:white">Loading might take some time if the game is not yet in our database.</p>
</div>
<br/>

<div class = "searchbar">
  <mat-form-field style="width:500px !important">
<input type="text" placeholder="Choose a game" matInput [formControl]="gametitle" [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin" style="color:antiquewhite" name="gametitle" (input)="getTitles($event.target.value)">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete">
<mat-option *ngFor="let title of suggestTitleDTO.titles" [value] = "title">
  {{title}}
</mat-option>

  </mat-autocomplete>


<br/> <button mat-raised-button (click)="findGame(gametitle.value)">Search database</button> \t <button mat-raised-button (click)="findAllGames()">Show all games in database</button>

<p style="color:white" [hidden]="loading">{{gameTitleDTO.message}}</p>
<br/>
<table class='sortable' sortable-table (sorted)="onSorted($event)">

  <tr>
    
    <th sortable-column="gameTitle" sort-direction="asc" (click)="onSorted('gameTitle')">Game Title</th>
    <th sortable-column="releaseDate" (click)="onSorted('releaseDate')">Release date</th>
    <th sortable-column="gameStudio" (click)="onSorted('gameStudio')">Game Studio</th>
    <th sortable-column="avgScore" (click)="onSorted('avgScore')">average Score</th>
    <th sortable-column="topScore" (click)="onSorted('topScore')">highest Score</th>
    <th sortable-column="lowestScore" (click)="onSorted('lowestScore')">lowest Score</th>
  
  </tr>
  <tr *ngFor="let game of gameTitleDTO.foundGames" (click)="onSelect(game)">
    <td>{{game.gameTitle}}</td>
    <td>{{game.releaseDate}}</td>
    <td>{{game.gameStudio}}</td>
    <td>{{game.avgScore}}</td>
    <td>{{game.topScore}}</td>
    <td>{{game.lowestScore}}</td>
  </tr>
</table>

</div>
<br />
<app-review-table [game] = "selectedGame" [hidden] = "hidden"></app-review-table>

