
<div [hidden]="!loading">
  <img heigth= '400' width = '400' src='../../assets/gif-transparent-loading-4.gif'>

</div>
<br/>
<input type="text" [(ngModel)]="game_title" name="game_title">
<button (click)="findGame(game_title)">Search database</button> 

{{gameTitleDTO.message}}
<br/>




<table>
  <tr>
    <th>Game Title</th>
    <th>Release date</th>
    <th>Game Studio</th>
    <th>average Score</th>
    <th>highest Score</th>
    <th>lowest Score</th>
  </tr>
  <tr *ngFor="let game of gameTitleDTO.foundGames">
    <td>{{game.gameTitle}}</td>
    <td>{{game.releaseDate}}</td>
    <td>{{game.gameStudio}}</td>
    <td>{{game.avgScore}}</td>
    <td>{{game.topScore}}</td>
    <td>{{game.lowestScore}}</td>
  </tr>
</table>

