
<div class = "container" [hidden]="!loading">
  <img class = "loading" heigth= '100' width = '100' src='../../assets/loading.gif'>
  <p class="loadingtext" style="color:white">Loading might take some time if the game is not yet in our database.</p>
</div>
<br/>
<div class = "searchbar">
<input type="text" [(ngModel)]="game_title" name="game_title"> <br/> <button (click)="findGame(game_title)">Search database</button> <button (click)="findAllGames()">Show all games in database</button>

<p style="color:white" [hidden]="loading">{{gameTitleDTO.message}}</p>
<br/>


<table class='game'>
  <tr>
    
    <th>Game Title</th>
    <th>Release date</th>
    <th>Game Studio</th>
    <th>average Score</th>
    <th>highest Score</th>
    <th>lowest Score</th>
  
  </tr>
  <tr *ngFor="let game of gameTitleDTO.foundGames"
  (click)="onSelect(game)">
    <td>{{game.gameTitle}}</td>
    <td>{{game.releaseDate}}</td>
    <td>{{game.gameStudio}}</td>
    <td>{{game.avgScore}}</td>
    <td>{{game.topScore}}</td>
    <td>{{game.lowestScore}}</td>
  </tr>
</table>

</div>
<br />
<app-review-table [game] = "selectedGame" [hidden] = "hidden"></app-review-table>

